{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <!-- <link href="https://covid19.aliancaenergia.com.br/vendor/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 mx-auto">
          <div class="card card-signin my-4">
            <div class="card-body">

<form action="formulario/salvar" method="post">
<div class="col-12 form-row ">

  <div class="form-group col-12 d-flex justify-content-center mt-4">
    <h1 class="color-font">Inspeção de Placas</h1>
  </div>
    
    <div class="form-group col-md-3 pt-4">
      <label><b class="text-uppercase">Data: <font color="red">*</font></b><br />
        <input 
          name="data"
          id="date"
          class="form-control"
          type="date"
          size="100%"
          style="height:39px;"
          required
        >
      </label>
    </div>
    
    <div class="input-group mb-3">
        <label required class="input-group-text" for="inputGroupSelect01">Nome:</label>
        <select class="form-select" id="inputGroupSelect01" >
          <option selected>Selecione...</option>
          <option value="claudio">Cláudio Rocha</option>
          <option value="maike">Maike Xavier</option>
          <option value="outro">Outro</option>
        </select>
      </div>

    <div class="form-group col-md-12">
      <label for=""><b>A Placa está instalada corretamente? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="instalada"id="instaladaSim" value="Sim">
              <label class="form-check-label" for="instaladaSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="instalada"id="instaladaNao" value="Nao">
              <label class="form-check-label" for="instaladaNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
      <label for=""><b>A película refletiva está em perfeitas condições? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="pelicula"id="peliculaSim" value="Sim">
              <label class="form-check-label" for="peliculaSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="pelicula"id="peliculaNao" value="Nao">
              <label class="form-check-label" for="peliculaNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
      <label for=""><b>Existe presença de ferrugem na placa? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="ferrugem"id="ferrugemSim" value="Sim">
              <label class="form-check-label" for="ferrugemSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="ferrugem"id="ferrugemNao" value="Nao">
              <label class="form-check-label" for="ferrugemNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
      <label for=""><b>A placa está fixada com todos os parafusos? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="parafusos"id="parafusosSim" value="Sim">
              <label class="form-check-label" for="parafusosSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="parafusos"id="parafusosNao" value="Nao">
              <label class="form-check-label" for="parafusosNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
      <label for=""><b>O suporte de perfil está bem fixado ao solo? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="fixado"id="fixadoSim" value="Sim">
              <label class="form-check-label" for="fixadoSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="fixado"id="fixadoNao" value="Nao">
              <label class="form-check-label" for="fixadoNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
      <label for=""><b>Existe sinais de avaria no perfil metálico? <font color="red">*</font></b><br />
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="avaria_perfil"id="avaria_perfilSim" value="Sim">
              <label class="form-check-label" for="avaria_perfilSim">
                  Sim
              </label>
          </div>
          <div class="form-check mt-3">
              <input required class="form-check-input" type="radio" name="avaria_perfil"id="avaria_perfilNao" value="Nao">
              <label class="form-check-label" for="avaria_perfilNao">
                  Não
              </label>
          </div>
      </label>
    </div>

    <div class="form-group col-md-12">
        <label for=""><b>Existe alguma avaria na pintura? <font color="red">*</font></b><br />
            <div class="form-check mt-3">
                <input required class="form-check-input" type="radio" name="avaria_pintura"id="avaria_pinturaSim" value="Sim">
                <label class="form-check-label" for="avaria_pinturaSim">
                    Sim
                </label>
            </div>
            <div class="form-check mt-3">
                <input required class="form-check-input" type="radio" name="avaria_pintura"id="avaria_pinturaNao" value="Nao">
                <label class="form-check-label" for="avaria_pinturaNao">
                    Não
                </label>
            </div>
        </label>
      </div>

      <div class="form-group col-md-12">
        <p><b>Observações gerais</b></p>
        <textarea onblur="removeAcento(this)" class="form-control" id="comentario" name="comentario" rows="3"></textarea>
      </div>

      <div class="form-group col-md-12">
        <label for="imagens">Fotos</label>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01">
          </div>
      </div>

    <div class="card-body col-12 d-flex justify-content-center">
      <input class="btn btn-primary text-uppercase" type="submit" name="enviar" id="enviar" value="Enviar Formulário" />
    </div>
    
  </div>
</form>

</body>
</html>